<div class="sidebar" data-color="purple" data-background-color="white" data-image="/public/images/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
  -->
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-normal" target="_blank" rel="noopener noreferrer">
      Creative Tim
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item {{dashboardActive}}">
        <a class="nav-link" href="/admin">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item {{userActive}}">
        <a class="nav-link" href="/admin/user">
          <i class="material-icons">person</i>
          <p>User Profile</p>
        </a>
      </li>
      <li class="nav-item {{tablesActive}}">
        <a class="nav-link" href="/admin/tables">
          <i class="material-icons">content_paste</i>
          <p>Table List</p>
        </a>
      </li>
      <li class="nav-item {{typographyActive}}">
        <a class="nav-link" href="/admin/typography">
          <i class="material-icons">library_books</i>
          <p>Typography</p>
        </a>
      </li>
      <li class="nav-item {{mapActive}}">
        <a class="nav-link" href="/admin/map">
          <i class="material-icons">location_ons</i>
          <p>Maps</p>
        </a>
      </li>
      <li class="nav-item {{notificationsActive}}">
        <a class="nav-link" href="/admin/notifications">
          <i class="material-icons">notifications</i>
          <p>Notifications</p>
        </a>
      </li>
      <li class="nav-item active-pro {{upgradeActive}}">
        <a class="nav-link" href="/admin/upgrade">
          <i class="material-icons">unarchive</i>
          <p>Upgrade to PRO</p>
        </a>
      </li>
    </ul>
  </div>
</div>